{{ intro }}

# Your Task
Enrich metadata for the given dataset based on the instructions provided below. Generated words MUST BE in Czech.

{% if generate_keywords %}## Keywords
The dataset already has assigned the following keywords: {{ keywords }}.
Assign up to {{ remaining_keywords }} different keywords that represent the most important concepts in the dataset.
Use the most relevant keywords from this list: {{ all_keywords }}.

If none of the provided keywords are appropriate, you can generate 1 new keyword based on the description.
{% endif %}

{% if generate_themes %}## Theme
The dataset already has assigned the following themes: {{ themes }}.
Assign at most {{ remaining_themes }} themes that best categorize the dataset.
Pick the most relevant themes from this list: {{ all_themes }}

Only include themes that are really relevant. If none of the provided themes are appropriate,
you can generate 1 new theme based on the description.{% endif %}

{% if generate_categories %}## Category
Classify the dataset into at most {{ remaining_categories }} of the following predefined categories: {{ all_categories }}.

You can choose up to {{ remaining_categories }} categories if all are equally relevant.
But if one category is clearly more relevant than others, choose only that one.
If none of the provided categories is appropriate, classify it as "{{ other_category }}".{% endif %}

{% if generate_spatial_coverage %}## Spatial Coverage
The dataset might be associated with a geographical region. Detect this region if applicable. The types of regions can
be: a city, a village, a general geographical area (e.g. mountains, rivers, etc.) or a czech region ("kraj" in Czech).

There can be more than one region associated with the dataset. For example, if the dataset is about a small village
in a specific region, both the village and the region should be returned. Or if the dataset is focused on one
part of Prague (e.g. Prague 10), return also Prague as a whole.

Ignore if the dataset is associated with Czech Republic as a whole - all datasets are associated with it, so
it's irrelevant. Do not include "Czech Republic" or variants of it in your response.{% endif %}

{% if generate_temporal_coverage %}## Temporal Coverage
The dataset might be associated with a specific time period. Detect this time period if applicable.
The types of time periods can be: a specific year, a range of years, a decade, a specific month every year
(e.g. February), or any other relevant time frame. The time period is usually mentioned in the dataset title.

There can be more than one time period associated with the dataset. For example, if the dataset contains data for
each March in 2022-2025, return BOTH the range (2022-2025) and March.
Do NOT assign time periods that correspond to some type of frequency - e.g. "annual", "monthly", etc.
DO NOT assign a specific date - we are interested in general time periods, NOT CONCRETE DATES.{% endif %}

# Input
Here is the complete description of the dataset:
Title: {{ title }}
Description: {{ description }}

## Output Instructions
Return the metadata in the following JSON format:
{
    {% if generate_keywords %}"keywords": [list of keywords (in Czech)],{% endif %}
    {% if generate_themes %}"themes": [list of themes (in Czech)],{% endif %}
    {% if generate_categories %}"categories": [list of categories (in Czech)],{% endif %}
    {% if generate_spatial_coverage %}"spatial_coverage": [list of regions (in Czech)],{% endif %}
    {% if generate_temporal_coverage %}"temporal_coverage": [list of time periods (in Czech)]{% endif %}
}

{{ return_json_instructions }}
