These words belong to the same cluster: {{ keywords }}

---

Decide if all words are related enough to have a common representative:
- if they are related enough, generate a keyword that best represents the entire cluster.
It can be one of the existing words or a new word that represents them well.
- otherwise split the cluster into multiple clusters and generate a representative keyword for each cluster.
- DO NOT create too specific clusters, too small clusters are not useful. If you decide to split the cluster,
make sure the split is necessary.

Return the result as a JSON object in the following format:
{
    "representative1": [cluster1 words],
    "representative2": [cluster2 words],
    ...
}

The representatives should be in Czech.
Include ALL keywords in the output, DO NOT omit any keywords. If a keyword does not fit well into any cluster,
it can be its own cluster with itself as the representative.

{{ return_json_instructions }}
