You will be given a list of keywords that belong to the same cluster.
The clustering is based on semantic similarity of their embeddings.
Your task is to:
- decide if all keywords in the cluster are related enough to have a common representative
- if they are related enough, generate a single keyword that best represents the entire cluster
- if they are not related enough, split the cluster into more smaller clusters and for each smaller cluster,
generate a representative keyword
- do not create overly specific clusters, too small clusters are not useful

The representative keyword should capture the common theme or concept shared by all keywords in the cluster.
It can be one of the existing keywords or a new keyword that represents them well. The representatives
should be in the same language as the keywords.

Here are the keywords: {{ keywords }}

Split the keywords into smaller clusters if needed, and for each cluster, find a representative keyword.
Return the result as a JSON object in the following format:
{
    "cluster1 representative": [cluster keywords],
    "cluster2 representative": [cluster keywords],
    ...
}
Include ALL keywords in the output, DO NOT omit any keywords. If a keyword does not fit well into any cluster,
it can be its own cluster with itself as the representative.

{{ return_json_instructions }}
