You will be given a list of generated temporal coverage. Postprocess each
of it based on the following rules:
* if the temporal coverage is a date, keep only the year

{{ return_json_instructions }}