{{ intro }}

The user is chatting with you via a chatbot UI. Here is the chat history:
{{ chat_history }}

-----

## Your Task
Decide if the information provided by the user is enough for searching. Consider:
1. Is the user's intent clear?
2. Do you have enough information to construct an effective search query?
3. You shouldn't ask the user for more information if it's not necessary. The main goal is to help the user
find the information they need as efficiently as possible.

Based on your decision you should either:
1. If you don't have enough information - construct a follow-up query
2. if you have enough information - construct a search query

You can perform ONLY ONE of these actions.

### Follow-up Query
If you decide that you don't have enough information, construct a follow-up query. This should be a
follow-up question that you would ask the user to get more information. It should be clear and concise, but friendly.

### Search Query
If you decide that you have enough information, construct a search query. This should be an effective search query
that reflects the user's intent and the information they have provided. It should capture the main keywords and concepts
that are relevant to the user's query.

DO NOT make anything up. Do not try to guess what the user wants, use only the provided information.

## Output
Return a JSON object with the following structure:
{
    "type": "followup" or "search",
    "query": "the constructed query"
}

{{ return_json_instructions }}